<% layout('/layouts/boilerplate') -%>

<div class="intro text-center alert alert-secondary">
    <i class="flaticon-vegetables small shady"></i>
    <h2 class="shady">FarmSpace</h2>
    <i class="fas fa-ellipsis-h"></i>

    <h4 class="my-4"><%=err.message%></h4>
    <i class="fas fa-ellipsis-h"></i>
            <% if(process.envNODE_ENV !== "production") { %> 
            <p><%=err.stack%></p>
            <% } %>
</div>
